.MyHeader{
  background: #3498db;
  height: 100px;
  margin-left: -10px;
  margin-top: -20px;
  width: 102%;

}
header{
  position: relative;
}
#blankSpace{
  width: 30%;
  height: 50px;
  background: #ecf0f1;
  position: absolute;
  border-radius: 30px;
  top: -20px;
  right: -30px;
}
#status{
  position: absolute;
  text-align: center;
  right: 30px;
  color: blue;
  font-family: arial,sans-serif;
}
#header{
  color: #ecf0f1;
  padding: 35px;
  padding-left: 10px;

}
.MyNAV{
  background: #4bcffa;
  width: 21%;
  height: 25px;
  position: relative;
  margin: 1px;
  padding: 7px;
  border-radius: 5px;
  left: 1195px;

}
a{
  text-decoration: none;
}
table {
  font-family: arial, sans-serif;

  width: 100%;
}

td, th {

  text-align: left;
  padding: 8px;
}
td > select{
  border-radius: 5px;
  padding: 10px;
  width: 85%;
}
.font{
  font-size: 15px;
  font-weight: bold;
}
.font1{
  color: #27ae60;
  font-weight: bold;
}
